In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("music.csv")
data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [ ]:
X=data.drop(columns=["genre"])
y=data